#background {
  viewport-fill: fb-peach;
}

.clock-hour-hand line {
  stroke-width: 12;
}

.clock-minute-hand line {
  stroke-width: 6;
}

.clock-second-hand line {
  stroke-width: 3;
}

line.clock-minute-label {
  fill: fb-extra-dark-gray;
  stroke-width: 1;
  x1: 0;
  y1: -45%;
  x2: 0;
  y2: -48%;
}
